<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Registro</h4>
        </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <label>Nombre</label>
                <input type="text" class="form-control" id="name">
                <div class="bg-danger">Se requiere un nombre.</div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <label>Apellido</label>
                <input type="text" class="form-control" id="lastName">
                <div class="bg-danger">Se requiere un apellido.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <label>Nombre de usuario</label>
                <input type="text" class="form-control" id="username">
                <div class="bg-danger">Se requiere un nombre de usuario.</div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <label>Correo electrónico</label>
                <input type="email" class="form-control" id="email">
                <div class="bg-danger">Se requiere un correo electrónico válido.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <label>Fecha nacimiento</label>
                <div id="birthDate">
                    <div class="col-xs-3 col-sm-3" id="dayDiv">
                        <input type="text" class="form-control" id="birthDay" placeholder="Día">
                    </div>
                    <div class="col-xs-5 col-sm-5" id="monthDiv">
                        <select class="form-control" id="birthMonth">
                            <option value="empty">Mes</option>
                            <option value="0">enero</option>
                            <option value="1">febrero</option>
                            <option value="2">marzo</option>
                            <option value="3">abril</option>
                            <option value="4">mayo</option>
                            <option value="5">junio</option>
                            <option value="6">julio</option>
                            <option value="7">agosto</option>
                            <option value="8">septiembre</option>
                            <option value="9">octubre</option>
                            <option value="10">noviembre</option>
                            <option value="11">diciembre</option>
                        </select>
                    </div>
                    <div class="col-xs-4 col-sm-4" id="yearDiv">
                        <input type="text" class="form-control" placeholder="Año" id="birthYear">
                    </div>
                </div>
                <div class="bg-danger">Se requiere una fecha válida.</div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <label>Sexo</label>
                <select class="form-control" id="sex">
                    <option value="empty">Seleccione</option>
                    <option value="mas">Masculino</option>
                    <option value="fem">Femenino</option>
                </select>
                <div class="bg-danger">Seleccione su sexo.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <label>Contraseña</label>
                <input type="password" class="form-control" id="password">
                <div class="bg-danger">Ingrese una contraseña.</div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <label>Confirma tu contraseña</label>
                <input type="password" class="form-control" id="confirmPassword">
                <div class="bg-danger">La contraseña no coincide.</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="register">Registrarse</button>
    </div>
    </div>
</div>