<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script src="https://code.jquery.com/jquery-2.1.4.min.js" integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgdlCwPKuHD7CtySZ656oMnquMDGjCZDM&callback=initMap" async defer></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/registro.js"></script>

    <link rel="icon" href="https://lh3.googleusercontent.com/Gl-IjP44YdLQ1yruoSdL-9GO0rfre-ToWwNGe1CMdZCrmNxFXUz_lq9ZRIjB7MDE0hAb=w300">

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <title>Land Marker!</title>
</head>

<body>
    <div class="pull-right">
        <a href="/" style="color: #06960E; text-decoration: blink;">INICIO</a> &nbsp;&nbsp;
        <a href="/info-page" style="color: #06960E; text-decoration: blink;">INFO</a> &nbsp;
    {% if loggedIn %}

    {% else %}
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#register-modal">
            REGISTRO
        </button>
    {% endif %}
    </div>
    <div id="titulo1">
        <h3 id="titulo2">Land Marker!</h3>
        <p id="users_count"></p>
    </div>
    <div id="mapa" style="display:none;"></div>
    <div id="chat" style="display:none;">
        <ul id="messages"></ul>
        <form id="chat-container">
            <input id="m" autocomplete="off" />
            <button id="send-message">Enviar</button>
        </form>
    </div>
    <div style="background-image: url(http://www.zastavki.com/pictures/originals/2014/World___Peru_Presidential_palace_in_peru_079099_.jpg); height:95%; padding: 20px;">
    <div id="info" style="margin:20px; text-align:center; color:wheat;">
            <!--<img src="http://www.dw.com/image/16700889_201.jpg" style="padding-top:2%;"> -->
            <h1 style="color:burlywood;">Qué es LandMarker?</h1>
            <h5 style="color:honeydew;  margin-top: 26px;">Es un juego con el propósito de que los usuarios conozcan más de la ciudad a través de desafíos.</h5>
            <div style="text-align:left;">
              <h3 style="margin-top:40px;">Algunas cosas de las que podrás hacer:</h3>
              <h4 style="margin-top:40px; color:darkorange;">Resolver diferentes desafíos como trivias, rompecabezas o diversas actividades de baja dificultad!</h4>
              <h4 style="color:darksalmon;">Ingresar con una cuenta de facebook, de google o crea una nueva para el juego!</h4>
              <h4 style="color:khaki;">Conocer gente!</h4>
              <h4 style="color:golderod;">Recorrer la ciudad de Lima y conocer todos los puntos escondidos!</h4>
            </div>
    </div>
  </div>

    <!-- Modal -->
    <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        {% include 'modals/register-modal.njk' %}
    </div>
</body>

</html>
