{% extends "admin-base.njk" %}

{% block head %}
    {{super()}}
    <link href="/dist/css/style.min.css" rel="stylesheet">
{% endblock %}

{% block title %}{{travel.name}}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Basic Form Elements
            </div>
            <div class="panel-body">
                <div class="row">
                    <form role="form">               
                        <div class="col-md-9">
                        <div id="checkpoints">
                            <h3>Checkpoints</h3>
                            <div class="row edit-point-padding edit-point-1">
                                <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="panel-title">Checkpoint </span>
                                    <button type="button" class="close remove-point hidden" aria-label="Close" data-point=""><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input class="form-control" type="text" value="" name="checkpoint-name-1">
                                        </div>
                                        <div class="form-group">
                                            <label>Ubicación</label>
                                            <input class="form-control" value="" name="checkpoint-latitude-1">
                                            <p class="help-block">Latitud</p>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" value="" name="checkpoint-longitude-1">
                                            <p class="help-block">Longitud</p>
                                        </div>
                                        <div class="form-group">
                                            <label>Pregunta</label>
                                            <input class="form-control" value="" name="checkpoint-question-1">
                                        </div>
                                        <div class="form-group">
                                            <label>Respuesta</label>
                                            <input class="form-control" value="" name="checkpoint-answer-1">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group option-groups-1-1">
                                            <button type="button" class="close remove-option hidden" data-option="1" data-point="1" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <label>Opción 1</label>
                                            <input class="form-control" value="" name="checkpoint-option-1-1">
                                        </div>
                                        <button type="button" class="btn btn-default but-add-option but-add-opt-1" data-point="1" data-next-option="2">Añadir opción</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" id="but-add-point" data-next-point="2">Añadir checkpoint</button>
                        </div>
                        <!-- /.col-md-9 (nested) -->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input class="form-control" value="" name="name">
                            </div>
                            <div class="form-group">
                                <label>Punto inicial</label>
                                <input class="form-control" placeholder="Latitud" value="" name="latitude">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Longitud" value="" name="longitude">
                            </div>
                            <div class="form-group">
                                <label>Image</label>
                                <input class="form-control" value="" name="image">
                            </div>
                            <div class="form-group">
                                <label>Descripción</label>
                                <textarea class="form-control" value="" name="description" rows="3"></textarea>
                            </div>
                            <button type="button" class="btn btn-primary" id="create-travel">Guardar</button>
                            <div class="alert alert-danger hidden" id="saving-travel-error">
                                Error al guardar los datos. Por favor verifique se sean correctos.
                            </div>
                            <div class="alert alert-success hidden" id="saving-travel-success">
                                Los datos se guardaron correctamente.
                            </div>  
                        </div>
                        <!-- /.col-md-3 (nested) -->
                    </form>
                    <div class="row edit-point-padding hidden edit-point">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span class="panel-title"></span>
                                <button type="button" class="close remove-point" aria-label="Close" data-point="2"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input class="form-control" type="text" name="checkpoint-name">
                                    </div>
                                    <div class="form-group">
                                        <label>Ubicación</label>
                                        <input class="form-control" name="checkpoint-latitude">
                                        <p class="help-block">Latitud</p>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" name="checkpoint-longitude">
                                        <p class="help-block">Longitud</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Pregunta</label>
                                        <input class="form-control" name="checkpoint-question">
                                    </div>
                                    <div class="form-group">
                                        <label>Respuesta</label>
                                        <input class="form-control" name="checkpoint-answer">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group option-group">
                                        <button type="button" class="close remove-option" data-option="1" data-point="" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <label>Opción 1</label>
                                        <input class="form-control" name="checkpoint-option">
                                    </div>
                                    <button type="button" class="btn btn-default but-add-option but-add-opt-2" data-point="2" data-next-option="2">Añadir opción</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock %}

{% block footer %}
{{super()}}
    <script type="text/javascript" src="/dist/js/save-travel.min.js"></script>
{% endblock %}