{% extends "admin-base.njk" %}

{% block head %}
    {{super()}}
    <link href="/dist/css/style.min.css" rel="stylesheet">
{% endblock %}

{% block title %}{{travel.name}}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Basic Form Elements
            </div>
            <div class="panel-body">
                <div class="row">
                    <form role="form">               
                        <div class="col-md-9">
                        <div id="checkpoints">
                            <h3>Checkpoints</h3>
                            {% set j = 1 %}
                            {% for point in travel.points %}
                            <div class="row edit-point-padding edit-point-{{j}}">
                                <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="panel-title">Checkpoint {{j}}</span>
                                    <button type="button" class="close remove-point hidden" aria-label="Close" data-point="{{j}}"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input class="form-control" type="text" value="{{point.name}}" name="checkpoint-name-{{j}}" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label>Ubicación</label>
                                            <input class="form-control" value="{{point.loc.coordinates[1]}}" name="checkpoint-latitude-{{j}}" disabled>
                                            <p class="help-block">Latitud</p>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" value="{{point.loc.coordinates[0]}}" name="checkpoint-longitude-{{j}}" disabled>
                                            <p class="help-block">Longitud</p>
                                        </div>
                                        <div class="form-group">
                                            <label>Pregunta</label>
                                            <input class="form-control" value="{{point.question}}" name="checkpoint-question-{{j}}" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label>Respuesta</label>
                                            <input class="form-control" value="{{point.answer}}" name="checkpoint-answer-{{j}}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        {% set i = 1 %}
                                        {% for option in point.options %}
                                        <div class="form-group option-groups-{{j}}-{{i}}">
                                            <button type="button" class="close remove-option hidden" data-option="{{i}}" data-point="{{j}}" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <label>Opción {{i}}</label>
                                            <input class="form-control" value="{{option}}" name="checkpoint-option-{{j}}-{{i}}" disabled>
                                        </div>            
                                        {% set i = i + 1 %}
                                        {% endfor %}
                                        <button type="button" class="btn btn-default but-add-option but-add-opt-{{j}} hidden" data-point="{{j}}" data-next-option="{{i}}">Añadir opción</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                            {% set j = j + 1 %}
                            {% endfor %}
                        </div>
                        <button type="button" class="btn btn-primary hidden" id="but-add-point" data-next-point={{j}}>Añadir checkpoint</button>
                        </div>
                        <!-- /.col-md-9 (nested) -->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input class="form-control" value="{{travel.name}}" name="name" disabled>
                            </div>
                            <div class="form-group">
                                <label>Punto inicial</label>
                                <input class="form-control" placeholder="Latitud" value="{{travel.iniLoc.coordinates[1]}}" name="latitude" disabled>
                                <p class="help-block">Latitud</p>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Longitud" value="{{travel.iniLoc.coordinates[0]}}" name="longitude" disabled>
                                <p class="help-block">Longitud</p>
                            </div>
                            <div class="form-group">
                                <label>Image</label>
                                <input class="form-control" value="{{travel.image}}" name="image" disabled>
                            </div>
                            <div class="form-group">
                                <label>Descripción</label>
                                <textarea class="form-control" value="" name="description" rows="3" disabled>{{travel.description}}</textarea>
                            </div>
                            <button type="button" class="btn btn-default" id="edit-travel">Editar</button>
                            <button type="button" class="btn btn-primary hidden" id="update-travel">Guardar</button>
                            <button type="button" class="btn btn-danger" id="delete-travel">Eliminar</button>
                            <div class="alert alert-danger hidden" id="saving-travel-error">
                                Error al guardar los datos. Por favor verifique se sean correctos.
                            </div>
                            <div class="alert alert-success hidden" id="saving-travel-success">
                                Los datos se guardaron correctamente.
                            </div>
                        </div>
                        <!-- /.col-md-3 (nested) -->
                    </form>
                    <div class="row edit-point-padding hidden edit-point">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span class="panel-title"></span>
                                <button type="button" class="close remove-point" aria-label="Close" data-point="{{j}}"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input class="form-control" type="text" name="checkpoint-name">
                                    </div>
                                    <div class="form-group">
                                        <label>Ubicación</label>
                                        <input class="form-control" name="checkpoint-latitude">
                                        <p class="help-block">Latitud</p>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" name="checkpoint-longitude">
                                        <p class="help-block">Longitud</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Pregunta</label>
                                        <input class="form-control" name="checkpoint-question">
                                    </div>
                                    <div class="form-group">
                                        <label>Respuesta</label>
                                        <input class="form-control" name="checkpoint-answer">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group option-group">
                                        <button type="button" class="close remove-option" data-option="1" data-point="" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <label>Opción 1</label>
                                        <input class="form-control" name="checkpoint-option">
                                    </div>
                                    <button type="button" class="btn btn-default but-add-option but-add-opt-{{j}}" data-point="" data-next-option="2">Añadir opción</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock %}

{% block footer %}
{{super()}}
    <script type="text/javascript" src="/dist/js/save-travel.min.js"></script>
{% endblock %}