{% extends "admin-base.njk" %}

{% block head %}
{{super()}}
    <!-- DataTables CSS -->
    <link href="/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
{% endblock %}

{% block title %}Usuarios{% endblock %}

{% block content %}
	<div class="row">
	    <div class="col-lg-12">
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                Detalle de los usuarios
	            </div>
	            <!-- /.panel-heading -->
	            <div class="panel-body">

	                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
	                    <thead>
	                        <tr>
	                            <th>Nombre</th>
	                            <th>Email</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                    	<!-- {% set isOdd = true %} -->
	                    	<!-- {% for user in users %} -->
	                    		<!-- {% if isOdd %} -->
		                        	<tr class="odd">
		                        <!-- {% else %} -->
		                        	<tr class="even">
		                        <!-- {% endif %} -->
			                            <td>{{ user.name }} {{ user.lastName }}</td>
			                            <td>{{ user.email }}</td>
			                        </tr>
	                       <!-- {% endfor %} -->
	                    </tbody>
	                </table>
	                <!-- /.table-responsive -->
                </div>
	            <!-- /.panel-body -->
	        </div>
	        <!-- /.panel -->
	    </div>
	    <!-- /.col-lg-12 -->
	</div>
{% endblock %}

{% block footer %}
{{super()}}
	<!-- DataTables JavaScript -->
    <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: false
        });
    });
    </script>
{% endblock %}
