/*-begin- admin panel */
.edit-point-padding{
    padding: 15px;
}

#saving-travel-error{
    margin-top: 10px;
}

#saving-travel-success{
    margin-top: 10px;
}
/*-end- admin panel */

/*-begin- register modal style */
#dayDiv{
    padding-right: 0.5em;
    padding-left: 0em;
}

#monthDiv{
    padding-right: 0.5em;
    padding-left: 0.5em;
}

#yearDiv{
    padding-right: 0em;
    padding-left: 0.5em;
}

#butContainer{
    padding-top: 2em;
    text-align: right;
}

.bg-danger {
    border: solid 1px #e9b8b7;
    border-radius: 3px;
    color: #AF4442;
    background-color: #F2DEDE;
    margin-top: 0.5em;
    padding: 0.2em;
    padding-left: 0.5em;
    display: none;
}

#birthDate{
    overflow: auto;
}

/*-end- regsiter modal style */

/*-begin- main page style */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#titulo1 {
    height: 6%;
}

#titulo2 {
    z-index: 10;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
}

#users_count {
    z-index: 10;
    text-align: center;
    color: #06960E;
}

#mapa {
    height: 95%;
    z-index: 10;
    width: 100%;
    position: absolute;
}

#chat {
    height: 95%;
    background-color: black;
    color: white;
    z-index: 20;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 50%;
    right: 0%;
    position: absolute;
    opacity: 0.7;
}

#chat-container {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 50%;
    text-align: left;;
    height: 5%;
}

#chat-container input {
    border: 0;
    padding: 7px;
    width: 80%;
    margin-right: .5%;
    margin-left: .5%;
    margin-bottom: .1%;
    color: black;
}

#chat-container button {
    width: 15%;
    background: #06960E;
    color: white;
    border: none;
    padding: 6px;
}

#messages {
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 94%;
    overflow: scroll;
}

#messages li {
    padding: 1px 10px;
    color: white;
    background-color: black;
}

#messages li:nth-child(odd) {
    background: #3c3c3c;
}

/*-end- main page style */
